/****  MyPaper   ***/
.paper_steps {
  background: #FFF;
}

.clearfix {
  margin-bottom: -20px;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both
}

.box_card {
  height:280px;
  width: 100%;
  margin-top: 14px;
  float: left;
}

.btn-card {
  float: right; 
  margin-left: 10px;
}

.paper_card_body{
  margin:-8px 0px 20px 0px;
}

.time {
  font-size: 14px;
  color: #999;
  float: left;
  margin-top: 10px;
  line-height: 14px;
}

.primary_time {
  font-size: 16px;
  float: left;
  margin-top: 10px;
  line-height: 16px;
}

.paper_navbar{
  height:20px;
}

/**  edit_paper   **/
.edit_dropdown{
  float: right; 
  margin: -20px 5px 0 5px;
}

.editor{
  margin:15px 0px 30px 0px;
}

.paper_card_header{
  height:20px; margin-top: -12px;
}

.paper_card_close {
  float:right; margin-right:5px;
}

.paper_card_content {
  margin-top: -18px;
}

.btn_editor {
  width: 200px;
  margin: 20px 20px 0 0;
}

/*** paper_comment ****/
.comment_card_head {
  margin-bottom: -15px;
}

.paper_content {
  color: #999;
  font-size: 14px;
}
