.paper-steps {
  background: #EEF5F9;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}

.box-card {
  height:280px;
  width: 31%;
  margin: 12px;
  float: left;
}

.card-show :hover {
  display: block;
  // transform:scale(1.03);
  // -webkit-transform: scale(1.03); 
}

.card-button {
  float: right; 
  padding: 2px 0;
}

.change-log {
  padding-bottom: 3px;
}

.last-annotation {
  border-top: 1px solid #e6ebf5;
  padding : 3px 0;
}